<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="kr/ac/kopo/mybatis/dp.properties" />

	<typeAliases>
		<typeAlias type="kr.ac.kopo.petition.vo.PetitionVO" alias="petitionVO"/>
		<typeAlias type="kr.ac.kopo.member.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.ac.kopo.comment.vo.PetitionCommentVO" alias="petitionCommentVO"/>
		<typeAlias type="kr.ac.kopo.report.vo.ReportVO" alias="reportVO"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="common/db/petition.xml"/>
		<mapper resource="common/db/member.xml"/>
		<mapper resource="common/db/comment.xml"/>
		<mapper resource="common/db/report.xml"/>
	</mappers>
</configuration>